* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1017;
  color: white;
}

.content {
  padding: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 100%;
}

/* HEADER */
header {
  height: 100vh;
  color: white;
  position: relative;
}

.textInfo {
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.textInfo > div {
  flex-grow: 1;
}

#logoAnimation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.text_second,
.text_third,
.text_fourth {
  margin-left: 5%;
}

.logo {
  width: 60px;
  height: 50px;
  margin-left: 5px;
  margin-right: auto;
  margin-bottom: 150px;
  margin-top: 10px;
}

/* NAVBAR */
ul {
  margin-top: 150%;
}

#icon1 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
  fill: white;
  transition: 0.3s;
  transform: scale(1);
}

#icon2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 1px;
  fill: white;
  transition: 0.3s;
  transform: scale(0.3);
}

#icon1:hover {
  fill: #00a3cc;
  filter: url(#pictureFilter);
  transform: scale(1.3);
}

#icon2:hover {
  fill: #00a3cc;
  filter: url(#pictureFilter);
  transform: scale(0.9);
}

.wrapper {
  position: relative;
}

.wrapper .sidebar {
  position: fixed;
  width: 70px;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 17, 58, 1),
    rgba(0, 65, 121, 1)
  );
}

.wraper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid;
}

.no-svg .logo {
  color: white;
}

.wrapper .content {
  width: calc(100%-70px);
  margin-left: 70px;
}

article {
  margin: 0;
}

/* CSS STRONA POD HEADEREM */
.container {
  height: 100vh;
}

/* NASZE SERWISY */
.services {
  display: grid;
  margin: 0;
}

.serviceGallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 80%;
}

.serviceInfo {
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

.serviceInfo > img {
  align-self: center;
  width: 80%;
  margin-bottom: 2rem;
}

.serviceInfo > h1 {
  margin: 1rem 1 rem 1rem 1rem;
}

.serviceInfo > p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.serviceInfo > h1:hover {
  animation: animate-h1-lightUp 1s linear forwards;
}

@keyframes animate-h1-lightUp {
  0% {
    color: white;
  }

  50% {
    color: #00a3cc;
  }

  100% {
    color: white;
  }
}

/* OPINIE */
.opinions {
  height: 100vh;
  position: relative;
}

.opinions__h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 3rem;
  margin-top: 20px;
  text-align: center;
}

.opinions__h1:hover {
}

.slideshow-container {
  max-width: 500px;
  max-height: 500px;
  position: relative;
  margin: 10% auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: white;
  font-size: 15px;
  transition: background-color 0.7s;
  border-radius: 0 1px 1px 0;
  user-select: none;
  font-weight: bold;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #0f4eaf;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 1px;
  background-color: white;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.7s;
}

.active,
.dot:hover {
  background-color: #0f4eaf;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
